<ion-header>
    <ion-toolbar>
        <ion-title>
            <i class="fa fa-arrow-left goBack" (click)="goBack()"></i>
            <span>Trabajo</span>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container_header">
        <ion-searchbar showcancelbutton="" (ionInput)="filterList($event)"></ion-searchbar>
        <!-- <ion-button block fill="clear"> -->
        <ion-icon size="large" color="primary" name="add-circle" (click)="addTrabajo()"></ion-icon>
        <!-- </ion-button> -->
    </div>
    <ion-list class="list_search">
        <ion-item-group class="item_search" *ngFor="let estado of estaList">
            <ion-item-divider color="light">{{estado}}</ion-item-divider>
            <ion-item-sliding class="item_search" *ngFor="let item of trabList">
                <ion-item *ngIf="item.estado == estado.toLowerCase()" (click)="elementSetect(item)">
                    <p>{{ item.cliente }} {{ item.key }}</p>
                </ion-item>
                <ion-item-options side="end">
                    <ion-button class="button_trash" color="danger" (click)="deleteButton(item)">
                        <ion-icon size="large" name="trash"></ion-icon>
                    </ion-button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-item-group>
    </ion-list>
</ion-content>