.container_header{
    display: flex;
    align-items: center;
    padding: 5px;
}

.list_search{
    padding: 12px;
}

.item_search{
    align-items: center;
}

p{
    font-size: 25px;
}

.button_trash{
    height: 80%;
    align-self: center;
}