<ion-header>
    <ion-toolbar>
        <ion-title>
            <i class="fa fa-arrow-left goBack" (click)="goBack()"></i>
            <span>Materiales</span>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="container_body">
    <div class="container_header">
        <ion-searchbar showcancelbutton="" (ionInput)="filterList($event)"></ion-searchbar>
        <!-- <ion-button block fill="clear"> -->
        <ion-icon size="large" color="primary" name="add-circle" (click)="addMaterial()"></ion-icon>
        <!-- </ion-button> -->
    </div>
    <ion-list class="list_search">
        <ion-item-group class="item_search" *ngFor="let categoria of catList">
            <ion-item-divider class="name_divider" color="light">{{categoria.nombre}}</ion-item-divider>
            <ion-item-sliding class="item_search" *ngFor="let material of matList">
                <ion-item *ngIf="material.categoria == categoria.nombre" (click)="elementSetect(material)">
                    <p>{{ material.nombre }} {{ material.key }}</p>
                </ion-item>
                <ion-item-options side="end">
                    <ion-button class="button_trash" color="danger" (click)="deleteButton(material)">
                        <ion-icon size="large" name="trash"></ion-icon>
                    </ion-button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-item-group>
    </ion-list>
</ion-content>