<ion-header>
    <ion-toolbar>
        <ion-button fill="clear" (click)="presentAlertConfirm()">
            <i class="fa fa-arrow-left goBack"></i>
        </ion-button>
        <ion-title>Materiales</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <!-- <ion-list [(ngModel)]="tra.materiales">

    </ion-list> -->
    <!-- <ion-select multiple="true" placeholder="Elige uno">
      <ion-item class="item_search" *ngFor="let item of matList">
        <ion-select-option value="{{item.nombre}}">{{item.nombre}}</ion-select-option>
      </ion-item>
    </ion-select> -->
    <ion-item>
        <ion-label position="stacked">Material</ion-label>
        <ion-select placeholder="Elige uno">
            <ion-item class="item_search" *ngFor="let item of matList">
                <ion-select-option value="{{item.nombre}}">{{item.nombre}}</ion-select-option>
            </ion-item>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Cantidad</ion-label>
        <!-- <ion-input [(ngModel)]="matServ.cantidad"></ion-input> -->
    </ion-item>
    <ion-button fill="clear" (click)="addMat()">
        <ion-icon size="large" color="success" name="add-circle"></ion-icon>
    </ion-button>
</ion-content>