<ion-header>
    <ion-toolbar>
        <ion-title>
            <i class="fa fa-arrow-left goBack" (click)="goBack()"></i>
            <span>Servicios</span>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container_header">
        <ion-searchbar showcancelbutton="" (ionInput)="filterList($event)"></ion-searchbar>
        <ion-icon size="large" color="primary" name="add-circle" (click)="addServicio()"></ion-icon>
    </div>
    <ion-list class="list_search">
        <ion-item-sliding class="item_search" *ngFor="let item of servList">
            <ion-item (click)="elementSetect(item)">
                <p>{{ item.nombre }} {{ item.key }}</p>
            </ion-item>
            <ion-item-options side="end">
                <ion-button class="button_trash" color="danger" (click)="deleteButton(item)">
                    <ion-icon size="large" name="trash"></ion-icon>
                </ion-button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>