<ion-header>
  <ion-toolbar>
    <ion-title>
      Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input [(ngModel)]="cli.nombre" placeholder="Clint"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Teléfono</ion-label>
    <ion-input [(ngModel)]="cli.telefono" placeholder="666555666"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Direccion</ion-label>
    <ion-input [(ngModel)]="cli.direccion" placeholder="Calle Opaca, Nº2 2ºD"></ion-input>
  </ion-item>
  <ion-button ion-button block clear (click)="addUser(cli)">Añadir</ion-button>

  <ion-searchbar showcancelbutton="" (ionInput)="filterList($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of goalList">
      <ion-label (click)="elementSetect(item.nombre)">{{ item.nombre }} {{ item.key }}</ion-label>
    </ion-item>
  </ion-list>

  <h1>{{valueSearch}}</h1>
</ion-content>