<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Turbo Tuberías
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="container">
    <ion-card class="card-style cardTrabajo" (click)="pushTrabajo()">
        <ion-label class="card-title">Trabajos</ion-label>
    </ion-card>
    <ion-card class="card-style cardMaterial" (click)="pushMaterial()">
        <ion-label class="card-title">Materiales</ion-label>
    </ion-card>
    <ion-card class="card-style cardCliente" (click)="pushCliente()">
        <ion-label class="card-title">Clientes</ion-label>
    </ion-card>
    <ion-card class="card-style cardProveedor" (click)="pushProveedor()">
        <ion-label class="card-title">Proveedores</ion-label>
    </ion-card>
    <ion-card class="card-style cardServicio" (click)="pushServicio()">
        <ion-label class="card-title">Servicios</ion-label>
    </ion-card>
</ion-content>