ion-title {
    font-size: 2.0em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
.infoApp{
    position: fixed;
    right: 0;
    bottom: 0;
    color: #333333;
    margin: 5px
}

.container {
    align-items: center;
}

.card-style {
    height: 30vw;
    min-height: 30px;
    max-height: 110px;
    max-width: 55vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

ion-card i {
    padding: 0 10px;
    padding-top: 15px;
    padding-bottom: 5px
}

.card-title {
    // position: absolute;
    // top: 30%;
    font-size: 2.0em;
    // bottom: 0;
    // width: 100%;
    font-weight: bold;
    color: #f7f7f7;
    // background-color: #808080a8;
    padding: 5px;
    text-align: center;
}

// .cardProveedor {
//     background: url('../../assets/cards/provs.png');
//     background-repeat: round;
//     background-size: cover;
//     position: relative;
// }