<ion-header>
    <!-- <ion-toolbar>
        <ion-title color="primary">
            Turbo Tuberías
        </ion-title>
    </ion-toolbar> -->
    <img src="../../assets/super_logo.png" style="display: block; margin: 8px auto">
</ion-header>

<ion-content class="container">
    <!-- <a href="tel:671977175">
        <ion-icon size="large" color="primary" name="call" (click)="addTrabajo()"></ion-icon>
    </a> -->
    <ion-card color="primary" class="card-style cardTrabajo" (click)="pushTrabajo()">
        <i class="fas fa-toolbox fa-7x"></i>
        <ion-label class="card-title">Trabajos</ion-label>
    </ion-card>
    <ion-card color="primary" class="card-style cardMaterial" (click)="pushMaterial()">
        <i class="fas fa-tools fa-7x"></i>
        <ion-label class="card-title">Materiales</ion-label>
    </ion-card>
    <ion-card color="primary" class="card-style cardCliente" (click)="pushCliente()">
        <i class="fas fa-users fa-7x"></i>
        <ion-label class="card-title">Clientes</ion-label>
    </ion-card>
    <ion-card color="primary" class="card-style cardProveedor" (click)="pushProveedor()">
        <i class="fas fa-shipping-fast fa-7x"></i>
        <ion-label class="card-title">Proveedores</ion-label>
    </ion-card>
    <ion-card color="primary" class="card-style cardServicio" (click)="pushServicio()">
        <i class="fas fa-cogs fa-7x"></i>
        <ion-label class="card-title">Servicios</ion-label>
    </ion-card>
</ion-content>