<ion-header>
    <ion-toolbar>
      <ion-button fill="clear" (click)="goBack()">
          <i class="fa fa-arrow-left goBack"></i>
      </ion-button>
      <ion-title>{{cat.nombre}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content class="container_body">
    <ion-card>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input [(ngModel)]="cat.nombre" placeholder="Calderas"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Descripcion</ion-label>
        <ion-input [(ngModel)]="cat.descripcion" placeholder="Sin tuberias"></ion-input>
      </ion-item>
    </ion-card>
    <ion-button fill="clear" (click)="addUser(cat)">
      <ion-icon size="large" color="success" name="add-circle"></ion-icon>
    </ion-button>
    <ion-button fill="clear" (click)="deleteButton()">
      <ion-icon size="large" color="danger" name="trash"></ion-icon>
    </ion-button>
  </ion-content>
  